*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

.parent-div{
    background-color: rgb(23, 23, 51);
}
.nav-div{
 display: flex;
 justify-content: space-between;
 max-width: 1200px;
 /* margin-left: 60px; */
 margin: auto;
}
.logo-span{
    font-size: 50px;
    color: red;
}
.logo{
    color: white;
    font-size: 20px;
}
.nav-btn{
    margin: 10px;
}
.nav-btns{
    margin: 20px;
    color: white;
    text-decoration: none;
}
.btn1{
    padding: 10px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
    color: white;
    
}
.btn2{
    padding: 10px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
    color: white;
}
.right-up-div{
    display: flex;
    /* margin: 50px; */
    align-items: flex-end;
 
}
.logo-img{
margin: 50px;
padding-right: 50px;
}
.h-1{
    color: white;
    font-size: 50px;
padding-bottom: 50px;
}
.h-2{
    color: white;
    font-size: 35px;
    padding-bottom: 50px;
}
.span-h-2{
    color: yellow;

}  
.p-1{
    padding-bottom: 30px;
    color: white;
}
.p-2{
    padding-bottom: 30px;
    color: white;
    font-size: 30px;
}
.span-p-2{
    color: yellow;
}
.parent-div-rightup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    /* margin-left: 30px; */

    
}

.name-btn{
    padding: 10px;
    margin-left: 2rem;
    width: 200px;

}

.btn-div{
background-color: yellow;
width: 400px;
border-radius: 20px;
margin-top: 30px;
padding-top: 1rem;
padding-bottom: 1rem;
}
 .btn-div-p{
 margin-top: 10px;
 margin-left: 12px;
} 
.sec-div {
    display: flex;
}
.img-div{
    display: flex;
}
.img-logo{
    width: 200px;
    height: 100px;
    margin: 10px;
}
.img-partner1{
    width: 250px;
    height: 200px;
}
.img-partner2{
    width: 250px;
    height: 200px;
}
.img-partner3{
    width: 250px;
    height: 200px;
}
.img-partner4{
width: 250px;
    height: 200px;
}
.img-partner-div{
/* margin: 50px; */
} 
.logo-portfolio{
    display: flex;
  max-width: 1000px;
  justify-content: space-between;
  margin: auto;

}
.logo-portfolio-div{
    margin-top: 30px;
}
.construction-image{
    width: 250px;
    height: 250px;
    margin:5px;
    border-radius: 10px;
}
.construction-image-div{
  margin-left: 5rem;
  margin-top: 30px;
}
.portfolio-h{
    margin-bottom: 25px;
    font-size: 10px;
    font-weight: bolder;
}
.portfolio-p1{
    margin-bottom: 20px;
    color: yellow;
    margin-left: 5px;
    font-size: 20px;
}
.portfolio-p2{
    margin-bottom: 20px;
    font-size: 20px;
}

